/node_modules
/server/node_modules
/server/dist
/server/coverage
/server/.env
/server/certs/
/server/backup/
/oh_modules
/local.properties
/local-signing.json
/.idea
/.superpowers/
/.cache/
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
